# Environments & Packages
.venv/
env/
.env
bin/
lib64/
ta-lib/
*.tar.gz

# Data (Crucial for large files)
data/raw/*.csv
data/raw/*.zip
*.parquet

# Python / Jupyter System Files
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/
.pytest_cache/

# IDE Settings
.vscode/
.idea/